{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="center" >
    <h2>Login</h2>
<form action="" method="post">
{% csrf_token %}
   <div class="txt_field">
          <input type="text" name="username" required>
          <span></span>
          <label>username</label>
        </div>
        <div class="txt_field">
          <input type="password" name="password" required>
          <span></span>
          <label>password</label>
        </div>
        <input type="submit" value="Login">
    <div class="signup_link">
          Not a member? <a href="{% url 'storeapp:register' %}">Register here</a>
        </div>


</form>
</div>
{% endblock %}