{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container" style="text-align: center; padding:100px;">
    <h3>welcome</h3>
<li class="button-list" type="button" style="text-align: center;display: inline-block;
    margin-right: 10px;background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;">
        <a class="nav-link button" href="{% url 'storeapp:form' %}">new</a>
</li>
    </div>
{% endblock %}